.headerServer{

    width: 250px;
    display: flex;
    grid-template-columns: 1fr 42px;
    align-items: center;
    margin-right: 10px;
}
.serverName{

    font-size: 25px;
    font-weight: bold;
}
.textChannelHeader{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.textChannelName{

    margin-left: 10px;
    font-size: 20px;
    flex: 1;
}
.searchBox{

    background-color: var(--bg-color);
    border-style: none;
    height: 42px;
    box-shadow: 0 2.5px 15px var(--shadow-color);
    margin-right: 30px;
    max-width: 300px;
    border-radius: var(--roundness);
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 42px;
    flex: 1;
}
.searchInput{

    background-color: rgba(0,0,0,0); 
    border-style: none; 
    color: var(--text-color); 
    padding: 10px;
    width: 1fr;
    padding-right: 0px;
}
.searchButton{

    background-color: var(--channel-image-bg-color);
    border-radius: 0px var(--roundness) var(--roundness) 0px;
    transition: 0.25s;
    box-shadow: 0 0px 0px var(--shadow-color);
    height: 42px;
    width: 42px;
}
.searchButton:hover{

    box-shadow: 0 5px 25px var(--shadow-color);
}
.searchButton:active{

    transition: 0.1s;
    box-shadow: 0 0px 0px var(--shadow-color);
}
.textChannelButtonsContainer{

    display: flex;
}
.headerSideBar{

    display: flex;
    width: 120px;
    justify-content: center;
}
#icon{

    margin-left: 10px;
    margin-right: 10px;
}
.appName{

    font-size: 30px;
    height: 30px;
    padding-top: 12px;
    font-weight: bold;
    transition: 0.5s;
    color: var(--text-color);
    text-decoration: none;
    vertical-align: middle;
}
.appName:hover{

    cursor: pointer;
    text-shadow: 0 2.5px 15px var(--shadow-color);
}
.appName:active{

    transition: 0.1s;
    cursor:default;
    text-shadow: 0 0px 0px var(--shadow-color);
}
.leftSection{

    width: 250px;
    display: flex;
    align-items: center;
}
.rightSection{

    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.friendsContainer{

    display: flex;
    align-items: center;
}
.messagesContainer{
    
    display: flex;
    align-items: center;
    margin-left: 10px
}
.header{

    display: flex;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: var(--side-panel-bg-color);
    z-index: 20;
    backdrop-filter: blur(30px);
    max-width: 100vw;
    align-items: center;
}
.left{

    display: flex;
    width: 100px;
    justify-content: center;
    margin-right: 10px;
}
.headerButton{
    
    background-color: var(--bg-color);
    font-weight: 600;
    font-size: medium;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.25s;
    width: 42px;
    height: 42px;
    vertical-align: center;
    box-shadow: 0 2.5px 15px var(--shadow-color);
}
.headerButton:hover{

    box-shadow: 0 5px 25px var(--shadow-color);
}
.headerButton:active{
    
    transition: 0.1s;
    box-shadow: 0 0px 0px var(--shadow-color);
}
.loggedInUser{

    height: 42px;
    width: 42px;
    border-radius: var(--roundness);
    box-shadow: 0 2.5px 15px var(--shadow-color);
    object-fit: cover;
}
.loggedInUser:hover{

    box-shadow: 0 5px 25px var(--shadow-color);
}
.loggedInUser:active{
    
    transition: 0.1s;
    box-shadow: 0 0px 0px var(--shadow-color);
}
.currentUser{

    display: flex;
    max-width: 200px;
    align-items: center;
}
.loggedInUserName{

    margin-right: 10px;
    flex: 1;
}